## Lab Assignment: Introduction to Pandas
Student:     **Nickson Omboro**

### Objective: To introduce data manipulation and analysis in Python using Pandas and understand Pandas data structures and basic operations.

### Instructions:
In this lab assignment, you will be introduced to data manipulation and analysis in Python using Pandas. You will learn how to create and manipulate Pandas data structures, perform basic data analysis and cleaning operations, and apply built-in functions to analyze and transform the data.

You will be provided with the following five problems to solve. Please read the problem statement carefully and implement the solution using Pandas.

1. Read a CSV file into a Pandas DataFrame.
2. Display the first 5 rows of a Pandas DataFrame.
3. Display the last 5 rows of a Pandas DataFrame.
4. Create a new column in a Pandas DataFrame by combining two existing columns.
5. Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

### Deliverable:
Modify this notebook to include the python code as well as any documentation related to your submission.  Submit the notebook as your response in Blackboard.

### Grading Criteria:

Your lab assignment will be graded based on the following criteria:

- Correctness of the implementation
- Proper use of basic control structures and functions
- Code efficiency
- Clarity and readability of the code
- Compliance with the instructions and deliverables.

### Student Submission
1.  Read a CSV file into a Pandas DataFrame.

In [14]:
import pandas as pd

df = pd.read_csv("sample.csv")

print(df)

     ID  Type State  Amount
0   801   Red    IL     150
1   802   Red    MO     350
2   803  Blue    KY      22
3   804  Blue    NY       1
4   805  Blue    FL     235
5   806   Red    CA      15
6   807   Red    HI      15
7   808   Red    WI      77
8   809   Red    IL     562
9   810  Blue    IL      87
10  811  Blue    FL      14
11  812  Blue    MO      57
12  813   Red    ND       3
13  814   Red    NE     189
14  815  Blue    MA      22
15  816   Red    PA       5
16  817   Red    PA     546
17  818   Red    AZ      45
18  819  Blue    IL     100
19  820   Red    IL      72
20  821   Red    IL      95
21  822  Blue    MO      88
22  823  Blue    WI       4
23  824  Blue    WI      78
24  825   Red    TX     135
25  826  Blue    TX      25
26  827  Blue    RI      75
27  828   Red    NH      50
28  829  Blue    ND     100

2.  Display the first 5 rows of a Pandas DataFrame.

In [10]:
import pandas as pd

df = pd.read_csv("sample.csv")

print(df.head())

    ID  Type State  Amount
0  801   Red    IL     150
1  802   Red    MO     350
2  803  Blue    KY      22
3  804  Blue    NY       1
4  805  Blue    FL     235

3.  Display the last 5 rows of a Pandas DataFrame.

In [12]:
import pandas as pd

df = pd.read_csv("sample.csv")

print(df.tail())

     ID  Type State  Amount
24  825   Red    TX     135
25  826  Blue    TX      25
26  827  Blue    RI      75
27  828   Red    NH      50
28  829  Blue    ND     100

4.  Create a new column in a Pandas DataFrame by combining two existing columns.

In [14]:
import pandas as pd

data = {
    'first_name': ['Paul', 'Judith', 'Esther'],
    'last_name': ['Franklin', 'Simon', 'Johnson']
}
df = pd.DataFrame(data)

df['full_name'] = df['first_name'] + ' ' + df['last_name']

print(df)

  first_name last_name       full_name
0       Paul  Franklin   Paul Franklin
1     Judith     Simon    Judith Simon
2     Esther   Johnson  Esther Johnson

5.  Group a Pandas DataFrame by a specific column and calculate the mean of another column for each group.

In [18]:
import pandas as pd

data = {
    'group': ['A', 'B', 'A', 'B', 'A', 'C'],
    'value': [4, 9, 5, 10, 7, 8]
}
df = pd.DataFrame(data)

mean_values = df.groupby('group')['value'].mean().reset_index()

print(mean_values)

  group     value
0     A  5.333333
1     B  9.500000
2     C  8.000000